<?php
// Turn on output buffering:
ob_start();
?>
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
<?php // Print the page title
if (defined('TITLE')) { // Is the title defined?
  print TITLE;
} else { // The title is not defined
  print 'Emery Dee Packer';
  }
?>
  </title>
  <link rel="stylesheet" type="text/css" href="css/template.css">
  <script src="https://use.fontawesome.com/c668e908d0.js"></script>
</head>
<body>
  <div id="header">
    <div id="header-wrapper">
      <p class="elephants">
        <img  id="elephant-big" src="images/elephant.png" alt="elephant">
        <img  id="elephant-med" src="images/elephant.png" alt="elephant">
        <img  id="elephant-sm" src="images/elephant.png" alt="elephant">
      </p>
      <h1><a href="index.php">Emery Dee Packer</a></h1>
    </div> <!-- header-wrapper -->
    </div> <!-- header -->

    <div id="wrapper">
            <ul id="nav">
                <li><a href="books.php">Books</a></li>
                <li><a href="login.php">Login</a></li>
                <li><a href="register.php">Register</a></li>
            </ul>
        <div id="content-welcome">
            <!-- BEGIN CHANGEABLE CONTENT. -->
